### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
set1 = set()
print(set1)

set()

  Create a set of your favorite colors and print it.

In [4]:
colors = {'Blue', 'Green', 'Black', 'Grey'}
print(colors)

{'Black', 'Grey', 'Blue', 'Green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [12]:
set1 = {23, 'Hassan', True, 10.9}
print(set1)

{True, 10.9, 'Hassan', 23}

Access the elements of a set using a loop and print each element.

In [13]:
set1 = {23, 'Hassan', True, 10.9}
for i in set1:
    print(i)

True
10.9
Hassan
23

add a new element to a set using the add() method.

In [25]:
set1 = {23, 'Hassan', True, 10.9}
set1.add('Python')
print(set1)

{True, 10.9, 'Python', 23, 'Hassan'}

Add multiple elements to a set using the update() method.

In [28]:
set1 = {23, 'Hassan', True, 10.9}
set1.update(['Python', 'Machine Learning'])
print(set1)

{True, 10.9, 'Python', 23, 'Machine Learning', 'Hassan'}

Remove and return an arbitrary element from a set using the pop() method.

In [37]:
set1 = {23, 'Hassan', 10.9}
popped_element = set1.pop()
print(popped_element)

10.9

Remove a specific element from a set using the remove() method.

In [40]:
set1 = {23, 'Hassan', True, 10.9}
set1.remove(True)
print(set1)

{10.9, 'Hassan', 23}

Remove a specific element from a set using the discard() method.

In [42]:
set1 = {23, 'Hassan', True, 10.9}
set1.discard(True)
print(set1)

{10.9, 'Hassan', 23}

Convert a string to a set of unique characters.

In [49]:
str1 = "Python"
set1 = set(str1)
print(set1)

{'h', 'y', 'n', 'P', 't', 'o'}

Convert a set of characters to a string.

In [54]:
str1 = "Python"
set1 = set(str1)
str2 = ''.join(set1)
print(str2)

hynPto

Use the clear() method to remove all elements from a set.

In [55]:
set1 = {23, 'Hassan', True, 10.9}
set1.clear()
print(set1)

set()

Use the copy() method to create a shallow copy of a set.

In [57]:
set1 = {23, 'Hassan', True, 10.9}
shallow = set1.copy()
print(shallow)

{True, 10.9, 'Hassan', 23}

Use the difference() method to find the difference between two sets.

In [63]:
set1 = {1, 7, 4, 0, 2}
set2 = {9, 6, 4, 1, 8}
print(set1.difference(set2))

{0, 2, 7}

Create two sets and find their union.

In [61]:
set1 = {1, 7, 4, 0, 2}
set2 = {9, 6, 4, 1, 8}
print(set1.union(set2))
print(set1 | set2)

{0, 1, 2, 4, 6, 7, 8, 9}
{0, 1, 2, 4, 6, 7, 8, 9}

    Create two sets and find their intersection.

In [62]:
set1 = {1, 7, 4, 0, 2}
set2 = {9, 6, 4, 1, 8}
print(set1.intersection(set2))
print(set1 & set2)

{1, 4}
{1, 4}

 Create two sets and find their difference.

In [64]:
set1 = {1, 7, 4, 0, 2}
set2 = {9, 6, 4, 1, 8}
print(set1.difference(set2))
print(set1 - set2)

{0, 2, 7}
{0, 2, 7}

    Create two sets and find their symmetric difference.

In [65]:
set1 = {1, 7, 4, 0, 2}
set2 = {9, 6, 4, 1, 8}
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

{0, 2, 6, 7, 8, 9}
{0, 2, 6, 7, 8, 9}

Check if one set is a subset of another.

In [67]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {1, 4, 5}
print(set2.issubset(set1))
print(set2 <= set1)

True
True

    Check if one set is a superset of another.

In [68]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {1, 4, 5}
print(set1.issuperset(set2))
print(set1 >= set2)

True
True

    Check if two sets are disjoint (have no common elements).

In [69]:
set1 = {0, 1, 2, 3, 4, 5}
set2 = {1, 4, 5}
print(set1.isdisjoint(set2))

False