### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [68]:
name = "Hassan Nasir"
print("My name is", name)

My name is Hassan Nasir

Define a multiline string that includes line breaks and print it.

In [69]:
bigstr = '''Multi-line string is a string\nthat can be printed in multple lines\nand can also be created with\n"""3 double quotes""" like this.'''
print(bigstr)

Multi-line string is a string
that can be printed in multple lines
and can also be created with
"""3 double quotes""" like this.

Access the first character of a string.

In [70]:
a = "Python for machine learning"
print(f"The first character in '{a}' is:",a[0])

The first character in 'Python for machine learning' is: P

Access the last character of a string.

In [71]:
a = "Python for machine learning"
print(f"The last character of '{a}' is:",a[-1])

The last character of 'Python for machine learning' is: g

Access the second to the fifth character of a string.

In [72]:
a = "Python for machine learning"
print(f"Second to fifth characters in '{a}' are:", a[1:5])

Second to fifth characters in 'Python for machine learning' are: ytho

Attempt to change a character within an existing string and explain the result.

In [73]:
a = "Python for machine learning"
a[0] = "p"
print(a)
# 'str' object does not support item assignment because they are immutable

TypeError: 'str' object does not support item assignment


Slice a string to obtain the first 3 characters.

In [19]:
a = "Python for machine learning"
print(f"First 3 characters of '{a}':",a[:3])

First 3 characters of 'Python for machine learning': Pyt

Slice a string to obtain the last 4 characters.

In [31]:
a = "Python for machine learning"
print(f"Last 4 characters of '{a}' are:",a[-4:])

Last 4 characters of 'Python for machine learning' are: ning

Slice a string to get every second character.

In [33]:
a = "Python for machine learning"
print(f"Every second character in '{a}' are:",a[::2])

Every second character in 'Python for machine learning' are: Pto o ahn erig

Reverse a string using slicing.

In [34]:
a = "Python for machine learning"
print(f"'{a}' reversed =", a[::-1])

'Python for machine learning' reversed = gninrael enihcam rof nohtyP

Create two string variables and concatenate them.

In [35]:
fname = "Hassan"
lname = "Nasir"
full_name = fname + lname
print(f"'{fname}' concatenated with '{lname}' becomes '{full_name}'")

'Hassan' concatenated with 'Nasir' becomes 'HassanNasir'

Concatenate a string with a number (convert the number to a string first).

In [40]:
a = "Python for machine learning"
num = 8
str_num = str(num)
conc = a + " " + str_num
print(f"'{a}' concatenated with '{str_num}' becomes '{conc}'")

'Python for machine learning' concatenated with '8' becomes 'Python for machine learning 8'

Generate a string that repeats "abc" 10 times.

In [42]:
s = "abc"
rs = s * 10
print(f"'{s}' repeating 10 times = '{rs}")

'abc' repeating 10 times = 'abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [44]:
a = "Python for machine learning"
ra = a * 5
print(ra)

Python for machine learningPython for machine learningPython for machine learningPython for machine learningPython for machine learning

Convert a string to lowercase using the lower() method.

In [45]:
a = "HELLO WORLD"
lower_a = a.lower()
print(f"'{a}' lowercase = {lower_a}")

'HELLO WORLD' lowercase = hello world


Convert a string to uppercase using the upper() method.

In [46]:
a = "hello world"
upper_a = a.upper()
print(f"'{a}' uppercase = {upper_a} ")

'hello world' uppercase = HELLO WORLD

Remove leading and trailing whitespace from a string using the strip() method.

In [55]:
a = "        Python for machine learning       "
strip_a = a.strip()
print(f"'{a}' after stripping becomes '{strip_a}'")

'        Python for machine learning       ' after stripping becomes 'Python for machine learning'

Check if a string starts with a specific prefix using the startswith() method.

In [65]:
a = "Python for machine learning"
print(f"Does '{a}' starts with P?\nAnswer =", a.startswith('P'))

Does 'Python for machine learning' starts with P?
Answer = True

Split a string into a list of words using the split() method.

In [66]:
a = "Python for machine learning"
list_a = a.split()
print(list_a)

['Python', 'for', 'machine', 'learning']

Join a list of words into a single string using the join() method.

In [67]:
list_a = ['Python', 'for', 'machine', 'learning']
a = ' '.join(list_a)
print(a)

Python for machine learning